.dropdown:hover .dropdown-menu {
  display: block;
}
body {
  font-family: "Poppins", sans-serif;
}
#mobileMenu {
  transition: all 0.3s ease-out;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
}

#mobileMenu.menu-open {
  max-height: 500px;
  opacity: 1;
}

/* Mobile submenu */
.mobile-submenu {
  transition: max-height 0.3s ease-out;
  overflow: hidden;
  max-height: 0;
}

.mobile-submenu.submenu-open {
  max-height: 300px;
}
